.carousel-div {
    display: flex;
    flex-direction: column;
}
.carousel-title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1;
}
.spaced-carousel-text {
    letter-spacing: 6px;
    font-weight: 600;
}

@keyframes arrowSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px); /* Moves it slightly to the right */
  }
}

/* The Trigger Class: Targeting the image inside the hovered parent */
.arrow-parent:hover .arrow-icon {
  animation: arrowSlide 0.3s ease-out forwards;
}